@use 'src/styles/vars'as v;

.homepage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    width: 80%;
  }

  &__mychannels,
  &__suggested {
    margin-top: 30px;
  }
}
