@use "src/styles/vars" as v;

.homepage {
  flex: 1;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: v.$base-color-dark;

  &__title {
    min-height: 36px;
    color: v.$base-color-light;

    @media screen and (max-height: 768x) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: 400px) {
      font-size: 1.4rem;
    }
  }
  &__container {
    display: flex;
    width: 98%;
    max-width: 1810px;
    flex: 1;
    // height: calc(100vh - #{(v.$nav-height + v.$footer-height)});

    @media screen and (max-width: 768px) {
      width: 95%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
    }
  }

  &__mychannels,
  &__suggested {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 85vh;
    min-height: 300px;
    margin-top: 20px;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
    }
  }

  &__info {
    border-radius: 5px;
    margin: 15px;
    padding: 5px;
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
    background-color: v.$base-color-light;
  }
}
