@use 'src/styles/vars'as v;


.error404 {
  width: 100%;
  height: 100vh;
  background: center/contain no-repeat url('src/assets/error.png');

  &__title {
    font-size: 3em;
    text-align: center;
  }
}
