@use 'src/styles/vars'as v;

.channels {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  &__row {
    position: relative;
    flex: 1;
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
  }
}

.mychannels,
.usersinchannellist {
  position: relative;
  width: 15vw;
  height: 100%;
  padding: 20px;
  min-width: 180px;
  border: 1px solid v.$base-color-grey;
  display: flex;
  flex-direction: column;
  color: v.$base-color-light;
  background-color: v.$base-color-darkest;

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      border: none;
      font-size: v.$size-font-awesome;
      color: v.$base-color-light;
      background-color: transparent;
      padding: 0.8em;
      cursor: pointer;
    }
  }

  &__title {
    margin: 10px 0;
    font-size: 2em;
    color: v.$base-color-grey;
  }

  &__links {
    display: flex;
    flex-direction: column;

    &__link {
      padding: 8px;
      font-size: 1.2em;
    }
  }

  @media screen and (max-width: 700px) {
    display: none;

    &.--show {
      display: block;
      position: absolute;
      top: v.$nav-height;
      width: 100%;
      height: 80%;
      z-index: v.$z-index-middle-front;
    }
  }

  .usersinchannellist__links__link {
    color: adjust-color(v.$base-color-orange, $alpha: -0.6);
    cursor: default;

    &.--logged {
      color: v.$base-color-orange;
    }
  }

  &__deco {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background: bottom/contain no-repeat url('src/assets/friends.png');
  }
}

.channel {
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .channelForm {
      padding: 20px 20px 50px;
      border: 1px solid v.$base-color-grey;
      color: v.$base-color-light;
      background-color: v.$base-color;

      .ui.form {
        width: 100%;

      }

      &__row {
        position: relative;
        display: flex;
        align-items: center;
        background-color: v.$base-color-orange;
        width: 100%;
        height: 100%;

        &__button {
          box-sizing: border-box;
          width: 20%;
          max-width: 120px;
          min-width: 50px;
          height: fit-content;
          background-color: transparent;
          color: v.$base-color-light;
          border: none;
        }
      }
    }

    .channelmessages {
      position: relative;
      width: 70vw;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid v.$base-color-grey;
      color: v.$base-color-light;
      background-color: v.$base-color-grey;

      @media screen and (max-width: 700px) {
        width: 100%;
        border: none;
      }

      &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__button {
          border: none;
          font-size: v.$size-font-awesome;
          color: v.$base-color-light;
          background-color: transparent;
          padding: 0.8em;
          cursor: pointer;
        }
      }

      &__title {
        padding: 20px;
        margin: 0;
      }

      &__messagelist {
        width: 80%;
        max-width: 500px;
        padding: 20px;
        flex: 1;
        max-height: 60vh;
        overflow-y: auto;
        scroll-behavior: smooth;

        @media screen and (max-width:700px) {
          width: 100%;
        }
      }

      &__message {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 5px;

        &.--me {
          justify-content: flex-end;
        }

        &__nickname {
          background-color: transparent;
          color: v.$base-color-light;
          font-size: 1em;
          font-weight: bold;
          padding: 10px;
          border-radius: 10px;
          width: 100%;

          &.--me {
            // text-align: right;
            display: none;
          }
        }

        &__content {
          &__text {
            font-size: 1.2em;
            background-color: v.$base-color-light;
            color: v.$base-color-dark;
            border-radius: 10px;

            &.--me {
              background-color: v.$color-message-me;
              color: v.$color-message-me-dark;
            }
          }
        }
      }

    }

    &__options {
      display: none;

      @media screen and (max-width: 700px) {
        display: flex;
        justify-content: space-between;
        background-color: v.$base-color;
      }
    }
  }
}
