$base-color-dark: #368980;
$base-color-darker: adjust-color($base-color-dark, $blackness: 30%);
$base-color: #62CCC0;
$base-color-grey: #BFD2D0;
$base-color-light: #F4F7F0;
$border-radius: 3px;
$nav-height: 64px;
$footer-height: 50px;
$size-font-awesome: 2em;
