$base-color-darkest: #202225;
$base-color-darker: #36393f;
$base-color-dark: #2f3136;
$base-color: #40444b;
;
$base-color-grey: #40444b;
$base-color-light: #F4F7F0;
$border-radius: 3px;
$nav-height: 64px;
$footer-height: 50px;
$size-font-awesome: 2em;
