$base-color-darkest: #262626;

$base-color-darker: #2f3136;
$base-color-dark: #36393f;
$base-color: #40444b;
$base-color-grey: #647081;
$base-color-light: #e8f3fa;
$base-color-orange: #eda247;
$base-color-ivory: #feefc5;
$color-message-me: rgb(196, 217, 248);
$color-message-me-dark: rgb(0, 38, 95);
$border-radius: 3px;
$border-color-channel: adjust-color($base-color-orange, $lightness: 30%);
$nav-height: 64px;
$font: 'Quicksand';
$footer-height: 50px;
$size-font-awesome: 2em;
$z-index-front-all: 10000;
$z-index-middle-front: 1000;
$z-index-middle: 100;
$z-index-low: 10;
$search-height: 140px;
