$base-color-darkest: #202225;
$base-color-darker: #36393f;
$base-color-dark: #2f3136;
$base-color: #40444b;
$base-color-grey: #575c64;
$base-color-light: #f0f4f7;
$border-radius: 3px;
$nav-height: 64px;
$footer-height: 50px;
$size-font-awesome: 2em;
$z-index-front-all: 10000;
$z-index-middle-front: 1000;
$z-index-middle: 100;
$z-index-low: 10;
$search-height: 140px;
