@use 'src/styles/vars'as v;

.nav__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: v.$nav-height;
  right: 0;
  width: 250px;
  // height: 400px;
  padding: 20px;
  background-color: v.$base-color-dark;
  z-index: 10;

  & a {
    color: v.$base-color-light;
  }

  &__link {
    width: 80%;
    height: 20px;
    margin-bottom: 20px;
  }
}
