@use 'src/styles/vars'as v;

.nav__menu {
  .ui {
    &.menu {
      border: none;
      border-radius: 0;
      background-color: transparent;
      min-height: auto;

      .dropdown.item {
        .menu {
          background-color: v.$base-color;
          z-index: v.$z-index-front-all;
        }
      }
    }



    &.item {
      padding: 0;

      & i.icon {
        font-size: v.$size-font-awesome;
        color: v.$base-color-light;
      }

      &.dropdown {
        height: 29px;
      }
    }
  }

  &.ui.simple.active.dropdown>.menu {
    top: v.$nav-height;
  }

  .menu.transition.left {
    background-color: v.$base-color;
    // z-index: ;
  }

  .ui.attached.menu:not(.tabular) {
    border: none;
  }

  .ui.menu[class*="top attached"]:first-child {
    margin: (v.$nav-height - 29px)/2;
  }
}
