@use 'src/styles/vars'as v;


.cardbox__listcontainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-bottom: 2em;

  @media screen and (max-width: 768px) {
    padding: 10px;
    margin-bottom: 0.5em;
  }
}


.ui.cards {
  width: 100%;

  &>.ui.card {
    position: relative;
    width: 100%;
    margin: 0.4em 0.5em;

    &>.cardbox {
      &__button {
        position: absolute;
        top: 8px;
        right: 8px;
        border: none;
        background-color: transparent;
        z-index: v.$z-index-low;
      }

      &__emptyspace {
        width: 30px;
      }
    }

    & .content {
      max-height: 80%;


      &>.header+.description {
        display: flex;
        margin-top: .1em;
      }

      &>.header {
        justify-content: space-between;
      }

      &>.description {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 80%;
      }
    }

    .extra {
      padding: 1%;
      max-height: 1.5em;
    }

    & .cardtag,
    & .cardtag--matching_tag {
      padding: 0 5px;

      &--matching_tag {
        color: v.$base-color-orange;
        font-weight: bold;
      }
    }
  }
}
