@use 'src/styles/vars'as v;

.ui.card, .ui.cards>.card {
  position: relative;
  width: 100%;
  margin: 0.4em 0.5em;
  min-height:20vh;
  
  @media screen and (min-width: 560px) {
    max-width: 47%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 31%;
  }

  @media screen and (min-height: 800px) {
    height: 15vh;
    min-height: 15vh;
  }

  @media screen and (min-height: 1024px) {
    max-height: 15vh;
  }

  & .cardbox {
    &__button {
      position: absolute;
      top: 8px;
      right: 8px;
      border: none;
      background-color: transparent;
      z-index: v.$z-index-low;
    }

    &__emptyspace {
      width: 30px;
    }
  }
}

.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
  display: flex;
  justify-content: space-between;

}

.ui.card>.content,
.ui.cards>.card>.content {
  max-height: 80%;
}

.ui.card>.extra,
.ui.cards>.card>.extra {
  padding : 1%;
  // max-height: 20%;
  max-height: 1.5em;
}

.ui.card>.content>.description,
.ui.cards>.card>.content>.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 80%;
}
