@use 'src/styles/vars'as v;

.channels {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  max-height: 100vh;

  &__row {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
}

.mychannels,
.usersinchannellist {
  width: 20vw;
  height: 100%;
  padding: 20px;
  min-width: 180px;
  border: 1px solid v.$base-color-grey;
  display: flex;
  flex-direction: column;
  color: v.$base-color-light;
  background-color: v.$base-color-darker;
}

.channel {
  &__container {
    display: flex;
    flex: 1;
    flex-direction: column;

    .channelForm {
      border: 1px dashed red;
      padding: 20px 20px 50px;
      border: 1px solid v.$base-color-grey;
      color: v.$base-color-light;
      background-color: v.$base-color;

      .field {
        width: 80%;
      }

      .ui.button {
        margin: 0 0 1em 1em;
      }

      &__row {
        display: flex;
        align-items: center;
      }
    }

    .channelmessages {
      width: 60vw;
      flex: 1;
      border: 1px solid v.$base-color-grey;
      color: v.$base-color-darker;
      background-color: v.$base-color-light;

      &__title {
        padding: 20px;
      }

      &__messagelist {
        padding: 20px;
        flex: 1;
        max-height: 30vh;
        overflow-y: auto;
        scroll-behavior: smooth;
      }

      &__message {
        width: 100%;
        margin-bottom: 10px;
        font-size: 1.2em;
      }
    }
  }
}
