@use 'src/styles/vars'as v;

.channels {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__row {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
}

.mychannels,
.usersinchannellist {
  width: 20vw;
  height: 100%;
  padding: 20px;
  min-width: 250px;
  border: 1px solid adjust-color(v.$base-color1, $lightness: 10%);
  display: flex;
  flex-direction: column;
  color: v.$color-verylight;
  background-color: v.$base-color1;
}

.channel {
  &__container {
    display: flex;
    flex-direction: column;

    .channelForm {
      border: 1px dashed red;
      padding: 20px 20px 50px;
      border: 1px solid adjust-color(v.$base-color1, $lightness: 10%);
      color: v.$color-verylight;
      background-color: v.$base-color1;

      .field {
        width: 80%;
      }

      .ui.button {
        margin: 0 0 1em 1em;
      }

      &__row {
        display: flex;
        align-items: center;

      }
    }

    .channelmessages {
      width: 60vw;
      flex: 1;
      padding: 20px;
      border: 1px solid adjust-color(v.$base-color1, $lightness: 10%);
      color: v.$color-verylight;
      background-color: adjust-color(v.$base-color1, $lightness: 10%);

      &__message {
        margin-bottom: 10px;
        font-size: 1.2em;
      }
    }
  }
}
