@use 'src/styles/vars'as v;

.footer {
  display: flex;
  width: 100%;
  height: v.$footer-height;
  // min-height: v.$footer-height;
  justify-content: space-evenly;
  align-items: center;
  background-color: v.$base-color-darkest;
  justify-self: flex-end;


  &__link {
    display: flex;
    align-items: center;
    color: v.$base-color-light;
  }

  &__contact {
    height: v.$footer-height * 0.5;
    width: 1.5 * v.$footer-height;
    margin-left: 15px;
    background: center/contain url('src/assets/logo_ikodi_lettres.png')
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}
