@use 'src/styles/vars'as v;

.discovery {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__container {
    flex: 1;
    width: 80%;
    max-width: 1200px;
  }

  &__title {
    padding: 20px;
  }

  &__selectcontainer {
    padding: 20px;
  }

  &__listcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-height: 25vh;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 2em;

    &__cardtag,
    &__cardtag--matching_tag {
      padding: 0 5px;

      &--matching_tag {
        color: v.$base-color-orange;
        font-weight: bold;
      }
    }

    @media screen and (min-width: 425px) {
      max-height: 28vh;
    }

    @media screen and (min-height: 731px) {
      max-height: 30vh;
    }

    @media screen and (min-height: 823px) {
      max-height: 34vh;
    }

    @media screen and (min-height: 1024px) {
      max-height: 35vh;
    }

    @media screen and (min-height: 1366px) {
      max-height: 38vh;
    }
  }
}
